/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */

/* Start of Custom Styles */
html {
    -webkit-font-smoothing: antialiased;
}

/* Navigation Section */

.top-navigation{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    text-align: center;
    font-size: 10em;
    border-bottom: thick solid black;
    padding-bottom: .15em;
    margin-top: -.07em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.top-navigation img{
    text-align: left;
}

.intro-buffer .content{
    /*background-image: url('../img/intro-border-flip.png');*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 3em;
    height: 4.7em;
    background-size: cover;
}

.intro-00{
    width: 50%;
    margin: 0 auto;
    margin-top: 9em;
}

.intro{
    height: 5em;
    background-position: center bottom;
    border-bottom: thick solid black;
}

/* "Classic shirt" pitch and images */

.classic-shirt{
    text-align: center;
    font-family: "Times",Helvetica,Arial,sans-serif;
    
}

.classic-shirt h2{
    font-size: 3em;
    text-align: center; 
    padding-top: 1em;
    line-height: 200%;
    padding-top: 2em;
    padding-bottom: 2em;
    border: thick solid black; 
    margin-bottom: 2em;
    font-family: "Times",Helvetica,Arial,sans-serif;
}

.content > h1{
    font-size: 3em;
    text-align: center; 
    line-height: 200%;
    padding-bottom: 6.5em;
    padding-top: 4.5em;
}

.content ul{
    border-top: thick solid black;
    border-bottom: thick black solid;
    /* background-image: url('../img/intro-border.png');
    background-size: cover;
    */  
}
.content li{
    text-align: center;
    border: thick solid black;
    font-size: 12em;
    width: 45%;
    display: inline-block;
    margin: 0 auto;
}

.image-left{
    background-image: url('../img/image-placeholder.jpg');
    background-size: contain;
    height: 2.5em;
    width: 4em;
}

.image-right{
    background-image: url('../img/image-placeholder.jpg');
    background-size: contain;
    height: 2.5em;
    width: 4em;
}

.offers{
    text-align: center;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

.offers li{
    text-align: center;
    font-size: 3em;
    width: 35%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 2em;    
    box-shadow: 10px 10px 50px gray;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2em .5em 2em .5em;
    margin-bottom: 5em;
}

.xx{
    width: 50%;
    margin: 0 auto;

}

.manufacture {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.manufacture .manufacture-content{
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em 2em 2em 2em;
    box-shadow: 10px 10px 50px gray;
}

.manufacture h2{
    font-size: 2em;
    text-align: center; 
    padding-top: 1em;
    line-height: 200%;
    padding-top: 2em;
    padding-bottom: 2em;
    border: thick solid black; 
    margin-bottom: 2em;
    font-family: "Times",Helvetica,Arial,sans-serif;
}

.point-left{
    width: 50%;
    margin: 0 auto; 
}

/* close */

.info{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.info h1{
    font-size: 3em;
    text-align: center; 
    padding-top: 1em;
    line-height: 200%;
    padding-top: 3em;
    padding-bottom: 4em;
    font-family: "Times",Helvetica,Arial,sans-serif;
}

.info li{
    text-align: center;
    font-family: "Times",Helvetica,Arial,sans-serif;
    font-size: 3em;
    width: 35%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em 0em 2em 0em;
    padding: 2em 2em 2em 2em;
    box-shadow: 10px 10px 50px gray;
    margin-right: 5%;
    margin-left: 5%;
}

.info h2{
    font-size: 3em;
    text-align: center; 
    padding-top: 1em;
    line-height: 200%;
    padding-top: 2em;
    padding-bottom: 2em;
    border: thick solid black; 
    margin-bottom: 2em;
    font-family: "Times",Helvetica,Arial,sans-serif;
}

.point-right{
    width: 50%;
    margin: 0 auto;
}

form{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 75%;
    margin: 0 auto;
    vertical-align: middle;
    padding-right: 2em;
    padding-left: 2em;
    box-shadow: 10px 10px 50px gray;
    display: block;
    margin-bottom: 2em;
}

form table{
    width: 80%;
}

form textarea{
    width: 80%;
    height: 150px;
}

form .ss-q-short{
    width: 80%;
    height: 150px;
}

form .jfk-button{
    text-align: center;
    margin-top: 2em;
}

/* Footer */

footer{
border-bottom: thick solid black;
    background-image: url('../img/intro-border.png');
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 3em;
    height: 10em;
    background-size: stretch;
/*    border-top: thick solid black;
    background-image: url('../img/intro-border.png');
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 3em;
    height: 10em;
    background-size: cover; */
}

footer .footer-extra-space{
    border-top: thick black solid;
    height: 3.5em;
}
footer .email, .twitter, .product-hunt{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
    width: 15%;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: .6em;
    display: inline-block;
    font-weight: 900;
    padding: 1em 0 1em 0;
    border: thick black solid;
}

/* Misc */
m{
    font-weight: 900;
}

a{
    color: gray;
    font-weight: 900;
}
a:hover{
    color: black;
    text-decoration: none
}

.nav-left-img, .nav-right-img{
    margin-bottom: -.1em;
}
